{% extends 'index.html' %}
{% load static %}
{% static 'images' as baseURL %}
{% block content %}


  <div id="content">
    <div>
      <h3>About</h3>
      <div class="first"> <a href="#"><img src="{% static 'images/model2.jpg' %}" alt="" /></a>
        <h2>Smart Classes</h2>
        <p>To cope-up with the modern world, Smart Classes have been going on since last 5 years from V to XII. Traditional as well as new methods of teaching create zeal among the students who like the system very much. The school has the working force of over 120 people who are continuously involved in the well being of the children and the upkeep of the school. Late Shri Haresh Singh Tomar was a noted educationist, thinker and a visionary. He dreamt of an educational system based on values like honest conviction and self confidence. Today, Holy Public School has distinguished itself by realizing the dreams of its founding father of fulfilling the educational needs which </p>
      </div>
      <div>

        <h2>We Have More Templates for You</h2>
       <p> are most essential for the personal growth of its students and community welfare.
       The school today can be defined as a playground of academic excellence with focus on molding the personality and individual strength of the student to make them confident citizens of this global world. From the humble beginning at Sikandra, today the students of this unit have an easy access to all the modern facilities as well equipped computer, science and mathematics and English language lab. The library the reservoir of knowledge has been stocked with umpteen volumes of books. With the contribution of students and teachers alike who contributed a lot in bringing to life the dream of establishing a world class institution.</p>
            </div>
     
    </div>
   </div>
     {% endblock %}
  
