{% extends 'index.html' %}
{% load static %}
{% static 'images' as baseURL %}
{% block content %}


  <div id="content">
    <div>
      <h3>ONLINE ADMISSIONS FORM 2020-2021</h3>
      <div>
        <form method="post" action="registration">
          {% csrf_token %}
          <table width="90%" border="0" cellpadding="0" cellspacing="0">
          
 <tr>
  <td>Ward Name :</td>
  <td><input name="wrdname" type="text" class="textInput" /></td>
 </tr>
 <tr>
  <td>Sex :</td>
  <td style="padding:8px;"><input name="sex" type="radio" value="Male" />Male&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><input name="sex" type="radio" value="Female" />Female</td>
 </tr>
 <tr>
  <td>Date of Birth :</td>
  <td><br><input name="dob" type="text" class="textInput" />
  DD/MM/YYYY</td>
 </tr>
 <tr>
  <td>Class Apply for :</td>
  <td>
  <br><select name="applyfor">
    <option value="" selected="selected">Select</option>
    <option value="Pre-Nursery">Pre-Nursery</option>
    <option value="Nursery">Nursery</option>
    <option value="Prep">Prep</option>
    <option value="I">I</option>
    <option value="II">II</option>
    <option value="III">III</option>
    <option value="IV">IV</option>
    <option value="V">V</option>
    <option value="VI">VI</option>
    <option value="VII">VII</option>
    <option value="VIII">VIII</option>
    <option value="IX">IX</option>
    <option value="XI (Commerce)">XI (Commerce)</option>
    <option value="XI (Humanity)">XI (Humanity)</option>
    <option value="XI (Science)">XI (Science)</option>
  </select>  </td>
 </tr>
 <tr>
  <td>Mother Name :</td>
  <td><br><input name="motname" type="text" class="textInput" /></td>
 </tr>
 <tr>
  <td>Father Name :</td>
  <td><br><input name="fatname" type="text" class="textInput" /></td>
 </tr>
 <tr>
  <td style="padding-bottom:10px">Address :</td>
  <td><br><textarea name="address" cols="" rows=""></textarea></td>
 </tr>
 <tr>
  <td>Mobile Number :</td>
  <td><br><input name="mobnum" type="text" class="textInput" /></td>
 </tr>
 <tr>
  <td>Phone Number :</td>
  <td><br><input name="phnum" type="text" class="textInput" /></td>
 </tr>
 <tr>
  <td>E-mail ID :</td>
  <td><br><input name="email" type="text" class="textInput" /></td>
 </tr>
 <tr>
  <td></td>
  <td>
<div class="captcha_wrapper">
    <div class="g-recaptcha" data-sitekey="6Lcs5xoUAAAAAB58rwX821fNqbO2tXDQuOYfNuMf"></div>
  </div>
</td>
 </tr>
 <tr>
  <td>&nbsp;</td>
  <td><button type="submit" name="submit" value="SUBMIT" class="btn" onClick="show()" style="margin:0;"><span>SUBMIT</span></button>
  <!--<input type="submit" name="submit" value="SUBMIT" onClick="return validate(form1)"/>--></td>
 </tr> 
</table>
</form></td>
              
          

      
        
        </div>
     
    </div>
   </div>
   <script type="text/javascript">
     function show(){
      alert('Congratulations you have submitted the form')
     }
   </script>
     {% endblock %}
  
