<!DOCTYPE html>
<html>
<head>
<title>Aviation School | Training Courses</title>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="styles/ie6.css" /><![endif]-->
</head>
<body>
<div id="page">
  <div id="header">
    <div id="section">
      <div><a href="index.html"><img src="images/logo.gif" alt="" /></a></div>
      <span>aviationschool@flying.com <br />
      <br />
      + 7958 917 9747 2481 000</span> </div>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="admissions.html">Admissions</a></li>
      <li class="current"><a href="training-courses.html">Training Courses</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="school-calendar.html">School Calendar</a></li>
      <li><a href="contact-us.html">Contact us</a></li>
    </ul>
  </div>
  <div id="content">
    <div>
      <h3>Training Courses &amp; Services</h3>
      <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.</p>
      <p>You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
      <h4>If you're having problems editing this website template, then don't hesitate to ask for help on the Forum.</h4>
      <ul class="services">
        <li>This is just a place holder.</li>
        <li>This is just a place holder.</li>
        <li>This is just a place holder.</li>
        <li>This is just a place holder.</li>
        <li>This is just a place holder.</li>
        <li>This is just a place holder.</li>
        <li>This is just a place holder.</li>
        <li>This is just a place holder.</li>
        <li>This is just a place holder.</li>
        <li>This is just a place holder.</li>
        <li>This is just a place holder.</li>
        <li>This is just a place holder.</li>
      </ul>
      <div class="section">
        <div id="aside">
          <h4>This is just a place holder, so you can see what the site would look like.</h4>
          <h5><span>I.</span> This is just a place holder.</h5>
          <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
          <h5><span>II.</span> This is just a place holder.</h5>
          <p>If you're having problems editing this website template, then don't hesitate to ask for help on the Forum. This is just a place holder, so you can see what the site would look like.</p>
          <h5><span>III.</span> This is just a place holder.</h5>
          <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
        </div>
        <div id="sidebar">
          <h6>PERSUSCIPIT MAGNA</h6>
          <ul class="links">
            <li>Diam sollicitud Aliquam eget</li>
            <li>Venenatis arcu a felis aliquet</li>
            <li>Felis at entessed laoreet</li>
            <li>Consector tellus Pellensteque</li>
            <li>Ullampor ut interdum</li>
            <li>Diam sollicitud Aliquam</li>
            <li>Venenatis arcu a felis aliquet</li>
            <li>Felis at entessed laoreet</li>
            <li>Consector tellus Pellensteque</li>
            <li>Venenatis arcu a felis aliquet</li>
            <li>Venenatis arcu a felis aliquet</li>
            <li>Diam sollicitud Aliquam eget</li>
            <li>Ullampor ut interdum</li>
            <li>Consector tellus Pellensteque</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div>
      <div id="connect"> <a href="#"><img src="images/icon-facebook.gif" alt="" /></a> <a href="#"><img src="images/icon-twitter.gif" alt="" /></a> <a href="#"><img src="images/icon-youtube.gif" alt="" /></a> </div>
      <div class="section">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="admissions.html">Admissions</a></li>
          <li><a href="training-courses.html">Training Courses</a></li>
          <li><a href="career.html">Career</a></li>
          <li class="last"><a href="contact-us.html">Contact us</a></li>
        </ul>
        <p>Copyright &copy; <a href="#">Domain Name</a> - All Rights Reserved | Template By <a target="_blank" href="http://www.freewebsitetemplates.com/">FreeWebsiteTemplates.com</a></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>